{
  "env": {
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "next",
    "turbo",
    "prettier",
    "plugin:import/recommended"
  ],
  "rules": {
    "@next/next/no-html-link-for-pages": "off",
    "@next/next/no-img-element": "off",
    "react/jsx-key": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@/hooks", "./hooks"],
          ["@/stores", "./stores"],
          ["@/components", "./components"],
          ["@/styles", "./styles"]
        ],
        "extensions": [".ts", ".js", ".jsx"]
      }
    }
  }
}
